<p id="notice"><%= notice %></p>

<h1>Filmes</h1>

<div class="box">
    <div class="box-header">
              <h3 class="box-title">Filmes disponíveis</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Nome</th>
                  <th>Gênero</th>
                  <th>Preço de locação</th>
                  <th colspan="3"></th>
                </tr>
                <% @movies.each do |movie| %>
                  <tr>
                    <td><%= movie.name %></td>
                    <% if movie.genre_id%>
                      <td><%= @genres[movie.genre_id] %></td>
                    <% else %>
                      <td><%= "Sem gênero" %></td>
                    <% end %>
                    <td><%= movie.rent_price %></td>
                    <td><%= link_to 'Visualizar', movie %></td>
                    <td><%= link_to 'Editar', edit_movie_path(movie) %></td>
                    <td><%= link_to 'Deletar', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody></table>
      </div>
  <!-- /.box-body -->
  </div>

<br>

<%= link_to 'Cadastrar filme', new_movie_path, :class => 'btn btn-block btn-primary btn-lg' %>

