<div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Descrição filme</h3>
            </div>
            <div class="box-body">
              <!-- Color Picker -->
              <div class="form-group">
                <label>Nome:</label>
                <%= @movie.name %>
              </div>
              <!-- /.form group -->

              <!-- Color Picker -->
              <div class="form-group">
                <label>Gênero:</label>
                  <%= @movie.genre_id %>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <!-- time Picker -->
              <div class="bootstrap-timepicker">
                <div class="form-group">
                  <label>Preço do aluguel:</label>
                  <%= @movie.rent_price %>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->
              </div>
            </div>
            <!-- /.box-body -->
          </div>

<%= link_to 'Editar', edit_movie_path(@movie), :class => 'btn btn-block btn-primary btn-lg' %>
<%= link_to 'Voltar', movies_path, :class => 'btn btn-block btn-primary btn-lg' %>